h1 {
    color: rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: xx-large;
}

.description {
    color: rgb(115, 113, 113);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: x-larssge;
}

.fb-online {
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fb-offline {
    color: black;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;

}